<div class="bg-base/30 w-full p-5 rounded-3xl  my-2">

  <div class=" sm:flex sm:flex-col gap-2 justify-between grid grid-cols-2">
    <div class="flex gap-2 opacity-90  bg-light-base/40 rounded-2xl p-3 sm:items-center">
      <fa-icon [icon]="fontIcon.faTemperature4" />
      <div class="sm:flex sm:items-center sm:justify-between sm:w-full ">
        <p>real feel</p>
        <p class="text-2xl sm:text-xl opacity-100 mt-1">{{temp()!.toFixed(0) }}°C</p>
      </div>

    </div>
    <div class="flex gap-2 opacity-90 bg-light-base/30 rounded-2xl p-3 sm:items-center">
      <fa-icon [icon]="fontIcon.faWind" />
      <div class="sm:flex sm:items-center sm:justify-between sm:w-full">
        <p>wind</p>
        <p class="text-2xl sm:text-xl opacity-100 mt-1">{{wind()?.speed}}m/s</p>
      </div>

    </div>
    <div class="flex gap-2 opacity-90 bg-light-base/40 rounded-2xl p-3 sm:items-center">
      <fa-icon [icon]="fontIcon.faDroplet" />
      <div class="sm:flex sm:items-center sm:justify-between sm:w-full">
        <p>humidity</p>
        <p class="text-2xl sm:text-xl opacity-100 mt-1">{{humidity()}} %</p>
      </div>
    </div>

    <div class="flex gap-2 opacity-90 bg-light-base/40 rounded-2xl p-3 sm:items-center">
      <fa-icon [icon]="fontIcon.faCloud" />
      <div class="sm:flex sm:items-center sm:justify-between sm:w-full">
        <p>cloud</p>
        <p class="text-2xl sm:text-xl opacity-100 mt-1">{{cloud()}} %</p>
      </div>
    </div>
  </div>
</div>
