<div class="bg-slate w-full p-5 rounded-3xl text-wh mt-5">
  <div class="flex justify-between items-center">
    <h3 class="opacity-90">More Details</h3>
  </div>
  <div class=" grid grid-cols-2 mt-3 gap-5 ">
    <div class="flex gap-1.5 opacity-90">
      <fa-icon [icon]="fontIcon.faTemperature4" />
      <div>
        <p>real feel</p>
        <p class="text-2xl opacity-100 mt-1">{{temp()!.toFixed(0) }}°C</p>
      </div>

    </div>
    <div class="flex gap-1.5 opacity-90">
      <fa-icon [icon]="fontIcon.faWind" />
      <div>
        <p>wind</p>
        <p class="text-2xl opacity-100 mt-1">{{wind()?.speed}}m/s</p>
      </div>

    </div>
    <div class="flex gap-1.5 opacity-90">
      <fa-icon [icon]="fontIcon.faDroplet" />
      <div>
        <p>humidity</p>
        <p class="text-2xl opacity-100 mt-1">{{humidity()}} %</p>
      </div>
    </div>

    <div class="flex gap-1.5 opacity-90">
      <fa-icon [icon]="fontIcon.faCloud" />
      <div>
        <p>cloud</p>
        <p class="text-2xl opacity-100 mt-1">{{cloud()}} %</p>
      </div>
    </div>
  </div>
</div>
