/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@use 'node_modules/ngx-toastr/toastr';

@theme {
  --color-base: white;
  --color-light-base: white;
}
