  @if(data()){
  <div class=" flex flex-col gap-6 mt-3 bg-slate p-2 ">

    @for (item of data(); track $index) {
    <div class="flex items-center bg-light-slate rounded-2xl p-2">
      <div class="flex flex-col opacity-70 text-sm">
        <p>{{item.dt * 1000 | date:'EEE' }}</p>
        <p>{{item.weather[0].main}}</p>
      </div>

      <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png" class="w-16" />
      <div class="flex">
        <p>{{(item.temp.min).toFixed(0)}}</p>/<p>{{(item.temp.max).toFixed(0)}}</p>
      </div>

    </div>
    }
  </div>
  }
